{% extends "base.html" %}

{% block content %}
    <table id="demo-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>FilePath</th>
            </tr>
        </thead>
        <tbody id="demo-table-body">
            <!-- Данные будут рендериться здесь -->
        </tbody>
    </table>

    <script>
        // Функция для рендеринга данных в HTML-таблице
        function renderDemoTable(demos) {
            const tableBody = document.getElementById('demo-table-body');

            demos.forEach(demo => {
                const row = document.createElement('tr');

                const idCell = document.createElement('td');
                idCell.textContent = demo.id;
                row.appendChild(idCell);

                const nameCell = document.createElement('td');
                nameCell.textContent = demo.Name;
                row.appendChild(nameCell);

                const filePathCell = document.createElement('td');
                filePathCell.textContent = demo.FilePath;
                row.appendChild(filePathCell);


                tableBody.appendChild(row);
            });

            // Инициализация DataTables после заполнения таблицы данными
            $('#demo-table').DataTable();
        }

        // Загрузка данных из JSON файла
        fetch('/api/demo/')
            .then(response => response.json())
            .then(renderDemoTable)
            .catch(error => console.error('Failed to load demos:', error));
    </script>
    <a href="/g.png">Скачать важный документ</a>
{% endblock %}